*~
Lecciones-tmp/
Practicas-tmp/
docs/
makefile
mycfg-GitHubPages.py
directorios
publicacion-lecciones
publicacion-practicas
notebooksYslides
readme-ai.html
readme-ai.md
readme-ai.org
readmeai-offline.md
.readmeaiignore
README.html
READMEAI.org
publica-practicas.el
publica.el